<form #searchMachineData = "ngForm" (ngSubmit) = "searchMachines(searchMachineData.value)" >
  <input type = "text" name = "machineName" placeholder = "Machine Name" ngModel>
  <br/>
  <input type = "text" name = "status" placeholder = "Machine Status" ngModel>
  <br/>
  <label> Date From:
    <input type = "date" name = "dateFrom" ngModel>
  </label>
  <br/>
  <label> Date To:
    <input type = "date" name = "dateTo" ngModel>
  </label>
  <br/>
  <input type = "submit" value = "submit">
</form>



<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Machine UID</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Active</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let machine of machines">
        <td>{{ machine.uid }}</td>
        <td>{{ machine.name }}</td>
        <td>{{ machine.status }}</td>
        <td>{{ machine.active }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
